/* ===========commentApp=========== */
.commentApp { background-image: none; background: #FFF; }

/* icon */
.commentApp-icon { width: 16px; height: 16px; background-image: url(../img/sprites-1.9.1.png); background-repeat: no-repeat; display: inline-block; vertical-align: middle }
.comment-like-icon { background-position: -222px -92px }
.comment-reply-icon { background-position: -250px -92px }
.comment-report-icon { background-position: -71px -183px }
.comment-spike-icon { position: absolute; top: -8px; left: 23px; width: 13px; height: 8px; background-position: -200px -165px }
a:hover>.comment-reply-icon { background-position: -250px -79px }
a:hover>.comment-like-icon { background-position: -222px -79px }
a:hover>.comment-report-icon { background-position: -71px -170px }

/* ===========commentApp list=========== */
.spinner-gray, .spinner-lightgray { display: inline-block; margin: 0 5px; width: 14px; height: 15px; vertical-align: -3px; background-size: 14px 15px; background-repeat: no-repeat; background-image: url(../img/loading.gif); }
.spinner-lightgray { background-image: url(../img/lightgray-loading.gif); }
.commentApp-list-wrap { margin: 0 auto; position: relative; }
.commentApp-list-wrap .load-more { padding: 8px 0; display: block; font-size: 13px; height: 22px; text-align: center; border: 1px solid #eee; border-width: 1px 0 0; color: #698ebf; box-shadow: 0 0 5px rgba(180, 180, 180, .1) inset; text-shadow: 0 1px 0 #fff }
.commentApp-list-wrap .load-more .text { position: relative }
.commentApp-list-wrap .load-more .spinner { position: absolute; top: 0; right: -20px; display: none }
.commentApp-list-wrap .load-more.loading .spinner { display: block }
html.no-touch .commentApp-list-wrap .load-more:hover { background: #fefefe; text-decoration: none }
.commentApp-list-wrap .load-more:active { background: #fbfbfb; box-shadow: 0 0 5px rgba(180, 180, 180, .2) inset }
.commentApp-list-wrap .load-more+.commentApp-item { margin: 0; padding: 8px 12px; border-top: 1px solid #eee }
.commentApp-list-wrap .commentApp-bubble { position: absolute; top: -8px; left: 81px; display: none }
.commentApp-list-wrap.empty { border: 0; box-shadow: none }
.commentApp-list-wrap.empty.cannot-comment { border: 1px solid #ddd }
.commentApp-list-wrap.cannot-comment .editable, .commentApp-list-wrap.cannot-comment .commentApp-command, .commentApp-list-wrap.cannot-comment .commentApp-op-link.reply { display: none !important }
.commentApp-list-wrap.empty .commentApp-bubble { display: none !important }
.commentApp-list-wrap.empty.cannot-comment .commentApp-bubble { display: block !important }
.commentApp-list-wrap.empty .commentApp-list-wrap-ft { margin: 0 30px 0 0; padding: 0; border: 0 !important; background: 0 }
.commentApp-list-wrap.empty.cannot-comment .commentApp-form { margin: 0 }
.commentApp-list-wrap.empty.cannot-comment .commentApp-form, .commentApp-list-wrap .commentApp-form { padding: 15px }
.commentApp-list-wrap.empty.cannot-comment .commentApp-list-wrap-ft, .commentApp-list-wrap .commentApp-list-wrap-ft { background: #fbfbfb; border-radius: 0 0 4px 4px; border-top: 1px solid #EEE; position: relative }
.commentApp-list-wrap.empty.cannot-comment .commentApp-list-wrap-ft { background: #fff }
.commentApp-spinner { padding: 6px 12px; font-size: 13px; }
.commentApp-item { position: relative; margin: 0 12px; padding: 8px 0 }
.commentApp-item .commentApp-content { margin: 0 0 0 70px; }
.commentApp-item>.cmt-item-link-avatar { float: left; margin: 4px 0 0 }
.commentApp-item .cmt-item-img-avatar { width: 25px; height: 25px; border-radius: 2px }
.commentApp-item .commentApp-content-bd { color: #222; min-height: 22px }
.commentApp-item .commentApp-content-hd, .commentApp-item .commentApp-content-ft { color: #999 }
.commentApp-item .commentApp-content-hd .desc, .commentApp-item .commentApp-content-ft .desc { font-size: 14px }
.commentApp-item .commentApp-content-ft { font-size: 12px }
.commentApp-item .like-num { float: right; margin-top: -1px }
.commentApp-item .like-num>span, .commentApp-item .like-num>em { font-style: normal; vertical-align: -2px }
.commentApp-item .like-num.nil { display: none }
.commentApp-item.focusin .commentApp-op-link, .commentApp-item:hover .commentApp-op-link { visibility: visible }
.commentApp-item+.commentApp-item { border-top: solid 1px #eee }
.commentApp-item .commentApp-form { padding: 15px 0 }
.commentApp-info { text-align: center }
.commentApp-item.empty { margin-top: 10px; margin-left: 10px; color: #b1b1b1; }
.commentApp-op-link>.commentApp-icon { margin-right: 5px; width: 11px; height: 11px; vertical-align: -1px }

/* ===========commentApp form=========== */
.commentApp-form { }
.commentApp-form .alert { margin: 10px 0px; padding: 4px 10px; font-size: 12px }
#iCMS-cmt-profile { display: none }
#iCMS-cmt-login { margin: 10px 0px }
.commentApp-form-editor { }
.commentApp-textarea {    /* padding: 5px 10px; */
width: 100%; height: 90px; background: url(../img/iCMS.logo.bg.png) no-repeat center center; font-size: 14px; line-height: 1.7 }
.commentApp-seccode { float: left; overflow: hidden; margin-top: 8px; line-height: 30px; }
.commentApp-seccode label, .commentApp-seccode input, .commentApp-seccode img, .commentApp-seccode a { float: left; display: inline-block; vertical-align: middle; }
.commentApp-seccode .seccode-img { margin-top: 2px; }
.commentApp-seccode .seccode-text { color: #999; margin-left: 5px; font-size: 12px; }
.iCMS-mobile .iCMS_cmt_seccode .form-control { width: 70px; height: 35px !important }
.commentApp-command { text-align: right }
.commentApp-command .cmt-add { float: right; margin: 8px 0px 8px 8px; padding: 5px 10px; font-size: 18px; width: 90px; height: 36px; }
.commentApp-command .cmt-cancel { float: right; margin: 15px 15px 0 0; cursor: pointer }

/* ===========commentApp form=========== */
.commentApp-form .commentApp-textarea { color: #222; font-size: 13px; line-height: 22px; height: 90px; }
.commentApp-form.expanded .commentApp-command { display: block; line-height: 33px; }
.commentApp-form.expanded .cmt-seccode { float: left; overflow: hidden; line-height: 30px; room: 1; _width: 100%; }
.commentApp-form.expanded .cmt-seccode span { float: left; color: #333; vertical-align: middle; text-align: center; font-size: 14px; }
.iCMS-mobile .commentApp-form.expanded .form-control { width: 70px; height: 35px !important }
.commentApp-form .commentApp-command { padding: 10px 0; text-align: right }
.commentApp-form .commentApp-command .btn-primary { float: right; }
.commentApp-form .commentApp-command .commentApp-command-cancel { float: right; }
.with-self-avatar .commentApp-form .avatar { display: block }
.commentApp-form .avatar { float: left; display: none; margin: 2px 10px 0 0; width: 34px; height: 34px; border-radius: 4px }
.commentApp-form .avatar+.editable { overflow: hidden }
.commentApp-op-link { margin-left: .5em; color: #999; font-size: 12px; visibility: hidden }
.commentApp-command-cancel { margin: 0 15px 0 0; cursor: pointer; float: left; }
.commentApp-command-cancel:hover { text-decoration: underline }
.commentApp-list-wrap .cmt-item-img-avatar { width: 60px; height: 60px; border-radius: 3px; }
