/*=== userApp passport ===*/
.userApp.passport { margin: 0 auto; width: 1003px; }
.userApp.passport .logo { height: 106px; background: url(../img/iCMS.LOGO.png) no-repeat 0 30px; _background-image: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/login-reg-logo.png', sizingMethod="crop"); }
.userApp.passport .logo a { width: 220px; height: 75px; }
.userApp.passport .logo a span { display: none; }
.userApp.passport .passport-wrap {background-color: #FFF; padding-bottom: 40px;border-radius: 5px 5px 0px 0px;}
.passport-wrap { padding-left: 55px; }
.passport-main { float: left; width: 645px; }
.passport-main h1 { margin-top: 30px; color: #42650C; font-weight: normal; font-size: 32px; font-family: '\5FAE\8F6F\96C5\9ED1'; }
.passport-main h1 span { margin-left: 10px; color: #FF5783; font-weight: normal; font-size: 12px; line-height: 48px; }
.passport-right { float: left; margin-top: 40px; width: 250px; height: 480px; border-left: 1px solid #e5e5e5; }
.passport-form { float: left;}
.passport-form .form-group { margin: 15px 0px; line-height: 30px; }
.passport-form .control-label { line-height: 30px; width: 90px; }
.passport-form .form-control { margin-left: 5px; padding: 0 8px; width: 320px; height: 40px; display: inline; }
.passport-form .help-block {display: none;}
.passport-form .opt { margin-top: 20px; width: 390px; line-height: 40px; font-size: 12px; padding-left: 40px; }
.passport-form .opt label { font-size: 12px; margin-right: 20px; }
.passport-form .submit { text-align: center; width: 400px; }
.passport-form .submit .btn { width: 150px; color: #fff !important; }
.register-wrap .opt { text-align: center; }
.register-wrap .findpwd { font-size: 12px; margin-left: 20px; }
.platform { margin-top: 32px;margin-left: 40px;}
.platform span { color: #999 !important; float: none !important; }
.platform-btn { clear: both; margin-top: 10px;/* display: block; *//* height: 45px; */ }
.platform-btn a { float: left; margin-right: 10px; *margin-left: 1px; }
.platform .login_qq { background: url(../img/login_qq.png) no-repeat left center; width: 49px; height: 21px; }
.platform .login_wb { background: url(../img/login_wb.png) no-repeat left center; width: 76px; height: 21px; }
.platform .login_wx { background: url(../img/login_wx.png) no-repeat left center; width: 53px; height: 21px; }
.right-wrap  h2 { margin-bottom: 36px; margin-left: 40px; color: #337AB7; font-weight: normal; font-size: 28px; font-family: '\5FAE\8F6F\96C5\9ED1'; }
.right-wrap span, .right-wrap p { margin-top: 36px; margin-left: 40px; color: #333; font-size: 14px; }
.right-wrap .btn { margin-left: 40px; width: 120px; }
.register-wrap .right-wrap  h2 { font-size: 16px; margin-bottom: 10px; }
.register-wrap .right-wrap .other_login { margin-top: 65px; }
.register-wrap .right-wrap .other_login p { margin-bottom: 2px; color: #999; }
.register-wrap .right-wrap .other_login a { display: block; margin: 10px 0px 10px 40px; }

/* icon */
.open_icon { display: inline-block; height: 16px; padding: 0 0 0 19px; background: url(../img/login_method_v3.png) no-repeat 0 0; color: #666; line-height: 16px }
.open_icon.icon_qq { background-position: 0 -27px; }
.open_icon.icon_tb { background-position: 0 -52px; }
.open_icon.icon_txwb { background-position: 0 -77px; }
.open_icon.icon_db { background-position: 0 -107px; }
.open_icon.icon_wx { background-position: 0 -136px; }
.open_icon.icon_rr { background-position: 0 -166px; }
.open_icon.icon_wb { background-position: 0 -223px; }
.open_icon.icon_arr { background-position: 0 -197px; }

#login-submit { }
.footer{border-radius: 0px 0px 5px 5px ;}
.help-block{margin: 0px;padding: 4px;float: right;}
.tip-error{color: #038bd8;line-height: 20px;}
.login-wrap .tip-error{margin-left: 20px;margin-top: 3px;}
.register-wrap .tip-error{clear: both;float: none;margin-left: 100px;}
.register-wrap .opt .tip-error{margin-left: 35px;padding: 0px;text-align: left;}
.findpwd-wrap .tip-error{clear: both;float: none;margin-left: 100px;}
