@import "bootstrap.min.css";

/* common */
html, body { word-wrap: break-word; word-break: break-all; }
body { font: 14px/1.75 'Helvetica Neue', 'STHeiti', 'Microsoft YaHei', Helvetica, Arial, sans-serif; }
a { color: #333; text-decoration: none }
a:hover { color: #0099CC; text-decoration: underline }
ul { list-style: none; margin: 0px; padding: 0px; }

/* margin */
.mt0 { margin-top: 0px !important; }
.mt5 { margin-top: 5px !important }
.mt10 { margin-top: 10px !important }
.mt15 { margin-top: 15px !important }
.mt20 { margin-top: 20px !important }
.mt25 { margin-top: 25px !important }
.mt30 { margin-top: 30px !important }
.mt35 { margin-top: 35px !important }
.mt40 { margin-top: 40px !important }
.mr0 { margin-right: 0 !important }
.mr5 { margin-right: 5px !important }
.mr10 { margin-right: 10px !important }
.mr15 { margin-right: 15px !important }
.mr20 { margin-right: 20px !important }
.mr25 { margin-right: 25px !important }
.mr30 { margin-right: 30px !important }
.mr35 { margin-right: 35px !important }
.mr40 { margin-right: 40px !important }
.mb0 { margin-bottom: 0 !important }
.mb5 { margin-bottom: 5px !important }
.mb10 { margin-bottom: 10px !important }
.mb15 { margin-bottom: 15px !important }
.mb20 { margin-bottom: 20px !important }
.mb25 { margin-bottom: 25px !important }
.mb30 { margin-bottom: 30px !important }
.mb35 { margin-bottom: 35px !important }
.mb40 { margin-bottom: 40px !important }
.ml0 { margin-left: 0 !important }
.ml5 { margin-left: 5px !important }
.ml10 { margin-left: 10px !important }
.ml15 { margin-left: 15px !important }
.ml20 { margin-left: 20px !important }
.ml25 { margin-left: 25px !important }
.ml30 { margin-left: 30px !important }
.ml35 { margin-left: 35px !important }
.ml40 { margin-left: 40px !important }

/* padding */
.pt0 { padding-top: 0 !important }
.pt5 { padding-top: 5px !important }
.pt10 { padding-top: 10px !important }
.pt15 { padding-top: 15px !important }
.pt20 { padding-top: 20px !important }
.pt25 { padding-top: 25px !important }
.pt30 { padding-top: 30px !important }
.pt40 { padding-top: 40px !important }
.pr0 { padding-right: 0 !important }
.pr5 { padding-right: 5px !important }
.pr10 { padding-right: 10px !important }
.pr15 { padding-right: 15px !important }
.pr20 { padding-right: 20px !important }
.pr25 { padding-right: 25px !important }
.pr30 { padding-right: 30px !important }
.pr35 { padding-right: 35px !important }
.pr40 { padding-right: 40px !important }
.pb0 { padding-bottom: 0 !important }
.pb5 { padding-bottom: 5px !important }
.pb10 { padding-bottom: 10px !important }
.pb15 { padding-bottom: 15px !important }
.pb20 { padding-bottom: 20px !important }
.pb25 { padding-bottom: 25px !important }
.pb30 { padding-bottom: 30px !important }
.pb35 { padding-bottom: 35px !important }
.pb40 { padding-bottom: 40px !important }
.pl0 { padding-left: 0 !important }
.pl5 { padding-left: 5px !important }
.pl10 { padding-left: 10px !important }
.pl15 { padding-left: 15px !important }
.pl20 { padding-left: 20px !important }
.pl25 { padding-left: 25px !important }
.pl30 { padding-left: 30px !important }
.pl35 { padding-left: 35px !important }
.pl40 { padding-left: 40px !important }
.plr10 { padding: 0 10px !important }

/* border-radius */
.r3 { border-radius: 3px }
.r5 { border-radius: 5px }
.r10 { border-radius: 10px }
.rt3 { border-radius: 3px 3px 0 0 }
.rt5 { border-radius: 5px 5px 0 0 }
.rt10 { border-radius: 10px 10px 0 0 }
.rb3 { border-radius: 0 0 3px 3px }
.rb5 { border-radius: 0 0 5px 5px }
.rb10 { border-radius: 0 0 10px 10px }
.rl3 { border-radius: 3px 0 0 3px }
.rl5 { border-radius: 5px 0 0 5px }
.rl10 { border-radius: 10px 0 0 10px }
.rr3 { border-radius: 0 3px 3px 0 }
.rr5 { border-radius: 0 5px 5px 0 }
.rr10 { border-radius: 0 10px 10px 0 }

/*clearfix*/
.clearfloat { clear: both }
.clearfix:before, .clearfix:after { display: table; content: "" }
.clearfix:after { clear: both }
.clearfix { zoom: 1; clear: both; +height: 1px; }
.clear { display: block; visibility: hidden; clear: both; overflow: hidden; width: 0; height: 0 }
.posr { position: relative }
.posa { position: absolute }
.fl {float: left;}
.fr { float: right; }
.solid { clear: both; height: 1px; margin-top: 10px; margin-bottom: 10px; border-bottom: 1px solid #BDBDBD; }
.border { border: 1px solid #DADADA }
.dotted { border-bottom: 1px dotted #cbcbcb; }
.placeholder { color: #222 }
.gray, .link-gray { color: #999; }
.noneline { text-decoration: none !important; }
.input-text { padding: 6px 10px !important; line-height: 15px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset; }
.error { color: #C33; }
.bull { padding: 0 3px; color: #BBB; display: inline-block; font-family: Arial; }
.blue, a.blue { color: #0084bb; }
.green, a.green { color: #6FA700; }
.fs16 { font-size: 16px; }
.fs12 { font-size: 12px; }


/* iCMS */
body { background-image: url(../img/body-bg.jpg); padding: 0px; margin: 0px; }
.seccode {width: 90px !important; height: 34px !important;}
.seccode-img { margin-left: 10px; }

/* ui */
.top, .header, .navbar, .body, .footer { margin: 0 auto; width: 100%; }

/* ==top== */
.top { background: #F0F0F0; }
.top .top-wrap { height: 30px; width: 1200px; margin: 0 auto; font-size: 12px; line-height: 30px;background: #F0F0F0;}

/* ==user-login== */
.top-wrap #user-login { width: 360px; }

/*.top-wrap #user-login ul { list-style: none; margin: 0px; }*/
.top-wrap li { float: left; border-right: 1px dotted #CCC; padding-left: 15px; line-height: 18px; margin-top: 6px; }
.top-wrap li.last { border: 0; }
.top-wrap li>a { display: block; padding-right: 15px; height: 18px; }

/* ==header== */
.header {
    background-color: #fff;
}
.header .header-wrap { height: 75px; width: 1200px; margin: 0 auto;background-color: #fff;}

/* ==logo== */
.header .logo { display: inline-block; }
.header .logo a { width: 320px; height: 70px; display: block;background: url(../img/iCMS.LOGO.png) no-repeat 0 12px;}

/* ==search== */
.header .search { margin-top: 4px; +width: 440px; display: inline-block; float: right; margin-top: 18px; }
.search-wrap .search-query { outline: none; border-radius: 5px 0px 0px 5px; width: 360px; height: 39px; border: 1px solid #EDEDED; padding-left: 32px; border-right: 0 none; background-image: url(../img/sprites.png); background-position: 6px -46px; color: #999; background-repeat: no-repeat; margin-right: 0; line-height: 34px; }
.search-wrap .search-btn { outline: none; border-radius: 0px 5px 5px 0px; width: 60px; height: 39px; background-color: #0099cc; color: #FFFFFF; border: 1px solid #0099cc; }

/* ==navbar== */
.navbar { height: 41px;background-color: #333; line-height: 41px;overflow: hidden;}

/*.navbar ul {list-style: none; margin: 0px;}*/
.navbar-wrap { width: 1200px; position: relative; margin: 0 auto; left: 0; display: block;background-color: #333;height: 41px;line-height: 41px;}
.navbar-wrap>li { float: left; }
.navbar-wrap>li a { text-decoration: none; padding: 11px 15px; color: #FFF; font-size: 14px; font-weight: bold; }
.navbar-wrap>li a:hover { background-color: rgb(9, 119, 181); }
.navbar-wrap>li.active>a { background-color: #079CF1; }
.navbar-wrap>li.dropdown { position: relative; }

/* ==dropdown-menu== */
.dropdown-menu { position: absolute; top: 100%; left: 0; z-index: 999999; display: none; float: left; min-width: 160px; padding: 5px 0; margin: 2px 0 0; list-style: none; background-color: #fff; border: 1px solid #ccc; border: 1px solid rgba(0, 0, 0, 0.2); *border-right-width: 2px; *border-bottom-width: 2px; border-radius: 6px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); background-clip: padding-box }
.dropdown-menu:before { position: absolute; top: -7px; left: 9px; display: inline-block; border-right: 7px solid transparent; border-bottom: 7px solid #ccc; border-left: 7px solid transparent; border-bottom-color: rgba(0, 0, 0, 0.2); content: '' }
.dropdown-menu:after { position: absolute; top: -6px; left: 10px; display: inline-block; border-right: 6px solid transparent; border-bottom: 6px solid #fff; border-left: 6px solid transparent; content: '' }
.dropdown-menu li { clear: both; background-color: #fff; height: 30px; }
.dropdown-menu li a { line-height: 30px; display: block; padding: 0px 10px 0px 10px; margin-bottom: 1px; color: #333; font-size: 12px; font-weight: bold; }
.dropdown-menu li a:hover { color: #fff;background-color: #079CF1; }

.body { background-image: url(../img/body-bg.jpg); padding: 0px; margin: 0px; }
.body-wrap { margin: 10px auto;width: 1200px; background-color: #fff; padding: 15px;}
.body-wrap .focus-left { width: 640px; }
.body-wrap .focus-right {width: 510px;}
.body-wrap .main-col { float: left;width: 840px; border-right: 1px solid #EAEAEA; background: #fff;}
.body-wrap .side-col { width: 310px; padding: 0px;float: right;}

/* ==carousel-box== */
.carousel-box { position: relative; width: 100%; height: 340px; overflow: hidden; }
.carousel-box ul { position: relative; width: 100%; overflow: hidden; }
.carousel-box li { float: left; width: 100%; height: 340px; padding: 0px; position: relative; }
.carousel-box img { width: 100%; height: 340px; position: absolute; }
.carousel-box .label_text { bottom: 0px; width: 100%; height: 45px; font: 24px/45px 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1'; z-index: 999; position: absolute; left: 0; padding: 0 10px; text-align: center; background-color: rgba(0, 0, 0, 0.7); color: #fff; }
.carousel-box .arrow-left { position: absolute; top: 50%; left: 0; margin: -27px 0 0; width: 29px; height: 54px; background: url(../img/arrow-left.png) no-repeat 0 0; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../img/arrow-left.png'); text-indent: -9999em; overflow: hidden; cursor: pointer; }
.carousel-box .h-arrow-left, .carousel-box .arrow-left:hover { background: url(../img/h-arrow-left.png) no-repeat 0 0; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../img/h-arrow-left.png'); }
.carousel-box .arrow-right { position: absolute; top: 50%; right: 0; margin: -27px 0 0; width: 29px; height: 54px; background: url(../img/arrow-right.png) no-repeat 0 0; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../img/arrow-right.png'); text-indent: -9999em; overflow: hidden; cursor: pointer; }
.carousel-box .h-arrow-right, .carousel-box .arrow-right:hover { background: url(../img/h-arrow-right.png) no-repeat 0 0; _background: none; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src='../img/h-arrow-right.png'); }

/* ==topnews== */
.topnews { }
.topnews h1 { font-size: 24px; text-align: center; margin: 0px 0px 10px 0px; line-height: 40px; height: 40px; overflow: hidden; }
.topnews p { color: #333; line-height: 24px; }
.topnews ul li { line-height: 32px; background: url(../img/sprites.png) no-repeat -5px -80px; padding-left: 12px; height: 28px; overflow: hidden; }
.topnews ul li b { color: #0084BB; }
.topnews ul li b a { color: #0084BB; }
.topnews ul li span.date { width: 60px; float: right; color: #999; }

/* ==tabs-wrap== */
.tabs-wrap { }
.tabs-head { width: 100%; float: left; border-bottom: 1px solid #eaeaea; line-height: 45px; position: relative; z-index: 1; }
.tabs-wrap .tabs-title { color: #333; font-size: 24px; float: left; padding: 0 10px; margin: 0px; display: inline; border-bottom: 1px solid #038BD8; }
.tabs-wrap a:hover { color: #3399CC; text-decoration: none }
.tabs-wrap ul.tabs-nav { position: relative; left: 20px; top: 13px; }
.tabs-wrap ul.tabs-nav li { line-height: 32px; height: 40px; float: left; text-align: center; margin-left: 10px; padding: 2px 8px; }
.tabs-wrap ul.tabs-nav li a { font-size: 14px; color: #565d66; display: block; overflow: hidden;/* width: 90%; */ text-align: center; }
.tabs-wrap ul.tabs-nav li a:hover { color: #0077FF; text-decoration: none }
.tabs-wrap ul.tabs-nav li.active { background: url(../img/sprites.png) no-repeat center 0px;    /*background-color: #666;*/ }
.tabs-wrap ul.tabs-nav li.active a { color: #fff }

/*.tabs-wrap ul.tabs-nav { padding: 5px 0px 0px 10px;background: #99CC33; margin-right: 20px; height: 36px; position: relative; z-index: 2;  }
.tabs-wrap ul.tabs-nav li { float: left; width: 82px; position: relative;margin-right: 5px; }
.tabs-wrap ul.tabs-nav li.twoMenu { width: 82px; }
.tabs-wrap ul.tabs-nav li.twoMenu .m { position: absolute; width: 100%; top: 0px; left: 0; display: none; }
.tabs-wrap ul.tabs-nav li.twoMenu .m a { background: #369; border-bottom-color: #369; color: #fff; }
.tabs-wrap ul.tabs-nav li.twoMenu .m .active, .tabs-wrap ul.tabs-nav li.twoMenu .m a:hover { background: #69b0f6; border-bottom-color: #69b0f6; }
.tabs-wrap ul.tabs-nav li a { border-radius: 5px 5px 0px 0px; display: inline-block; width: 100%; height: 36px; line-height: 36px; text-align: center; text-decoration: none; font-size: 16px; color: #fff; }
.tabs-wrap ul.tabs-nav li.active a,
.tabs-wrap ul.tabs-nav li a:hover { background: #fff; color: #369; }*/
.tabs-wrap .kwLink { height: 20px; overflow: hidden; line-height: 20px; margin: 8px 0px; }
.tabs-wrap .kwLink b {/* background: url(../img/sprites.png) no-repeat 0px -440px; *//* width: 18px; *//* height: 18px; */display: inline-block; }
.tabs-wrap .kwLink a { margin-right: 10px; position: relative; display: inline-block; color: #0e82bf; }
.tabs-wrap .kwLink a i { color: #99CC33; display: block; position: absolute; width: 4px; height: 4px; overflow: hidden; background: #ccc; left: 4px; top: 8px; _top: 6px; }

/*.tabs-wrap .kwLink a.active, .tabs-wrap .kwLink a:hover { color: #333; text-decoration: none; }
.tabs-wrap .kwLink a.active i, .tabs-wrap .kwLink a:hover i { background-color: #333; }
*/

/* ==media-list== */
.media-list { }
.media-list .media { width: 100%; border-bottom: 1px solid #EAEAEA;margin-bottom: 15px;padding-bottom: 15px;}
.media .media-object { float: left; margin-right: 15px; }
.media .media-object img { width: 250px; height: 140px; }
.media .media-body { display: inline; }
.media .media-body h4.media-heading { font-size: 18px; font-weight: bold; line-height: 32px; margin: 0px 0px 5px 0px; overflow: hidden; white-space: nowrap; }
.media .media-body .media-text { text-indent: 2em; margin: 0px 0px 10px 0px; color: #888; font-size: 14px; line-height: 22px; overflow: hidden; padding-right: 10px; }
.media .media-body .media-text a { display: inline; margin-left: 10px; }
.media .media-body .media-info { }
.media .media-body .media-info .date { float: right; color: #999; display: inline-block; margin-right: 10px; }
.media .media-body .media-info .tags { background: url(../img/sprites.png) no-repeat 0px -398px; display: inline; padding-left: 25px; overflow: hidden; width: 350px; height: 20px; }
.media .media-body .media-info .category { color: #999; display: inline-block; margin-right: 10px; }
.media .media-body .media-info .category a { color: #999; display: inline; }
.media .media-body .media-info .category a:hover { text-decoration: underline; }
.media .media-body .media-info .tags a { color: #999999; display: inline; margin-right: 15px; }
.media .media-body .media-info .tags a:hover { color: #336699; text-decoration: underline; }

/* ==mod-box == */
.mod-box { margin-bottom: 10px; }
.mod-title { width: 100%; display: block; height: 41px; border-bottom: 1px solid #eaeaea; z-index: 1; margin-top: 5px; clear: both; position: relative; }
.mod-title .mod-txt { font-size: 16px; color: #038BD8; font-weight: bold; line-height: 39px; float: left; padding: 0 10px; display: inline; border-bottom: 1px solid #038BD8; margin: 0px; }
.mod-title span.fr{
    margin-top: 15px;
    font-size: 12px;
}
.mod-title span.txt { position: relative; font-size: 18px; font-family: 'Microsoft YaHei'; top: -1px; display: block; float: left; }
.mod-title span.blue { border-top: 3px solid blue; }
.mod-title span.green {border-top: 1px solid #038BD8;color: #038BD8;}
.mod-title .more-link { }
.mod-title .more-link a { border: 1px solid #ddd; border-top: 0; display: block; padding: 0 5px; background: #eee; }
.mod-title .more-link a.more { padding: 4px 8px; border-left: 0; float: none; }
.mod-title .more-link a:hover { background: #0099cc; color: #fff; text-decoration: none; }
.mod-box .mod-content { width: 100%; display: block; clear: both; }

/*.mod-title hr{ border:none;border-top:1px #E5E5E5 solid; padding:0; margin:0; color:#E5E5E5; height:1px; margin-top:20px; float:left; width:350px}*/

/* ==rank == */

/*.rank .mod-title ul { width: 100%; float: left; border-bottom: 1px solid #d2d2d2; height: 38px; margin-top: 10px }*/
.rank .mod-title  li { float: left; font-size: 16px; padding: 0 15px; line-height: 40px; cursor: pointer }
.rank .mod-title  li.active { color: #038BD8; font-weight: bold; border-bottom: 1px solid #038BD8 }
.rank .mod-title  li a { text-decoration: none; }
.rank-list { padding: 8px 0px 0px 0px; background: url(../img/rank.png?i=2) no-repeat 0px 20px; padding-left: 24px; height: 360px; }
.rank-list li { width: 100%; overflow: hidden; font-size: 14px; padding: 6px 0; height: 36px; line-height: 36px; }
.rank-list li em { color: #fff; float: left; font-size: 14px; font-style: italic; font-family: Verdana, Geneva, sans-serif, Arial; line-height: 20px; margin: 3px 10px 0 0; overflow: hidden; text-align: center; width: 20px; height: 20px; background-color: #0099CC; border-radius: 5px; display: none; }
.rank-list li a { float: left; font-size: 14px; height: 24px; line-height: 26px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 268px; }

/*.hot-tags .mod-title .mod-txt { width: auto; height: 35px; line-height: 35px; font-family: 'Microsoft YaHei'; font-weight: bold; font-size: 18px; color: #515050; background: url(../images/icon/hrrmht.jpg) left center no-repeat #fff; text-indent: 25px; position: absolute; z-index: 1; padding-right: 20px; }
*/

/* ==hot-tags == */

/*.btn { display: inline-block; margin-bottom: 0px; padding: 0; font-size: 16px; font-weight: normal; line-height: 28px; text-align: center; white-space: nowrap; background-image: none; border: 1px solid transparent; border-radius: 0px; cursor: pointer; outline: 0px none; transition: background-color 300ms ease-out 0s, border-color 300ms ease-out 0s; display: block; border-radius: 5px; background: none; border: 1px #8C8C8C solid }*/
.hot-tags .mod-content { padding-top: 5px; }
.hot-tags .mod-content li a { color: #999; background-color: #EFEFEF; float: left; margin: 0px 1px 1px 0px; padding: 2px 4px; height: 29px; line-height: 24px; overflow: hidden; text-align: center; width: 32.99%; box-shadow: none; outline: none; }
.hot-tags .mod-content li a:hover { color: #fff; background-color: #61B3E6; text-decoration: none; }

/* ==author-list == */
.author-list { width: 100%; height: 96px; padding: 10px 4px; border-bottom: 1px dotted #ccc; background: 0; word-wrap: break-word; word-break: break-all; }
.author-last { border-bottom: 0px; }
.author-list .author-name { margin-left: 80px; padding: 0; text-align: left; font-size: 18px; line-height: 24px; }
.author-list .author-name a { color: #0084bb; }
.author-list .author-name a:hover { text-decoration: none; }
.author-list .author-text { margin-left: 80px; color: #515050; font-size: 14px; padding: 5px 0 0 0; line-height: 24px; height: 50px; overflow: hidden; line-height: 50px; }
.author-list .author-pic { float: left; margin-right: 10px; margin-left: 3px; border: 0; }
.author-list .author-pic img { width: 72px; height: 72px; border-radius: 50px; }

/* ==pictxt == */
.pictxt .mod-title { border-top: 1px solid #ddd; border-bottom: 0px; line-height: 34px; }
.pictxt .mod-content { display: inline-block; margin-top: 5px; }
.pictxt-list { width: 150px; margin-bottom: 10px;/* margin-right: 10px; */ }
.pictxt-list a { display: block; background: #eee; text-decoration: none; }
.pictxt-list .pictxt-img { display: inline-block; height: 110px; }
.pictxt-list img { width: 150px; height: 110px; }
.pictxt-list a .pictxt-text { font-size: 12px; margin: 0px 4px; height: 40px; overflow: hidden; line-height: 18px; padding-top: 4px;}
.pictxt-list a:hover { background: #0099cc; color: #fff; }

/* ==pagination == */
.pagination {margin: 20px; max-height: 30px; text-align: center}
.pagination a, .pagination span { display: inline-block; padding: 8px 15px; line-height: 20px; text-decoration: none; background-color: #fff; border: 1px solid #ddd; border-left-width: 0 }
.pagination span.current, .pagination span.page_nowindex { background-color: #ddd; color: #333; }
.pagination a:hover, .pagination a:focus { background-color: #f5f5f5 }
.pagination a.page_nowindex { color: #999; cursor: default }
.pagination a:first-child, .pagination span:first-child { border-left-width: 1px; border-bottom-left-radius: 4px; border-top-left-radius: 4px; -moz-border-radius-bottomleft: 4px; -moz-border-radius-topleft: 4px }
.pagination a:last-child, .pagination span:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 4px }
.pagination span.bartext { font-size: 12px; color: #999; padding: 8px 4px; }

/* ==breadcrumb == */

/*    .breadcrumb { padding: 8px 15px; margin: 0 0 20px; list-style: none; background-color: #F5F5F5; border-radius: 4px }
.breadcrumb>li { display: inline-block; *display: inline; text-shadow: 0 1px 0 #fff; *zoom: 1 }
.breadcrumb>li>.divider { padding: 0 5px; color: #ccc }
.breadcrumb>.active { color: #999 }
*/

/* ==articleApp== */
body.articleApp { }
.articleApp .body-wrap { padding-top: 0px; }
.article-wrap { padding: 0px; margin-right: 20px; }
.article-wrap h1 { font: bold 34px/40px "microsoft yahei", Arial; color: #333; margin: 20px 0; text-align: center; }
.article-wrap .article-desc { text-indent: 2em; background-color: #EEE; color: #666; padding: 20px; margin-bottom: 4px; }
.article-wrap .article-info { margin-top: 10px; font-size: 12px; height: 30px; padding: 2px 0; text-align: center; border-top: 1px solid #EFEFEF; overflow: hidden; }
.article-wrap .article-info span { color: #999; line-height: 24px; margin: 0px 10px; }
.article-wrap .article-info a { color: #999; }
.article-wrap .article-tags { background: url(./../img/tag.png) no-repeat 0 2px; padding-left: 20px; font-size: 12px; color: #1196DB; }
.article-wrap .article-tags .tag { margin-right: 15px; color: #69b0f6; }
.article-wrap .article-body { margin: 15px 0px 10px 0px; }
.article-wrap .article-body tkbox { margin: 0px auto; }
.article-wrap .article-body p { margin: 0; padding: 0; margin-top: 8px; word-wrap: break-word; text-indent: 2em; color: #000; font-size: 16px; }
.article-wrap .article-body p strong { font-weight: bold; font-size: 16px; }
.article-wrap .article-body a { text-decoration: none; }
.article-wrap .article-body a.keyword { border-bottom: 1px dotted #87B32E; color: #87B32E }
.article-wrap .article-body img { border: 1px solid #dadada; overflow: hidden; padding: 5px; position: relative; background-color: #FFF; zoom: 1; border-radius: 3px; }
.article-wrap .article-pagenav {margin: 30px auto 10px;display: block;}
.article-wrap .article-pagenav a, .article-wrap .article-pagenav span { padding: 6px 15px; font-size: 14px; }
.article-wrap .tip { text-align: center; color: #999; margin-bottom: 10px; }

/* ==articleApp related== */
.articleApp .related { margin-right: 10px; }
.articleApp .related h3 { height: 36px; font-size: 16px; font-weight: bold; color: #333; overflow: hidden; border-bottom: 1px solid #EEE; line-height: 24px; padding-bottom: 5px; margin-bottom: 10px; }
.articleApp .related h3 i.line { width: 4px; height: 18px; background: #038BD8; margin-right: 10px; display: inline-block; overflow: hidden; position: relative; top: 4px; }
.articleApp .related h3 b a { color: #038BD8; }
.articleApp .related .related-left { float: left; width: 370px;/* height: 250px; */ }
.articleApp .related .related-left li { width: 320px; height: 28px; float: left; line-height: 28px; overflow: hidden; background: url(../img/dot.png) no-repeat 0 12px; padding: 0 0 0 11px; font-size: 14px; display: inline; }
.articleApp .related .related-right { float: right; width: 300px; height: 250px; }

/* == breadcrumb== */
.breadcrumb { border-radius: 0px; margin: 1px; position: relative; left: -15px; width: 823px; }
.breadcrumb>li>.divider { color: #666; font-size: 18px; }
.article-like { margin-left: 10px; float: left; }
.article-like .like-btn { position: relative; display: block; text-decoration: none; text-align: left; color: #fff; background: #fff; font-size: 16px; line-height: 25px; font-family: "microsoft yahei"; border: 1px solid #ddd; border-radius: 5px; padding: 5px; float: left; margin-right: 10px; }
.article-like .like-icon { position: absolute; top: 2px; left: 10px; width: 27px; height: 27px; display: block; }
.article-like .like-num { margin-left: 35px; color: #369; }
.article-like .like-txt { color: #666; }
.article-like .up { background: url(../img/up.png) no-repeat; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='../img/up.png'); _background: none; }
.article-like .down { background: url(../img/down.png) no-repeat; top: 6px; _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='../img/down.png'); _background: none; }
.article-prevnext { }
.article-prevnext p.prev { float: left; }
.article-prevnext p.next { float: right; }

/* ==commnet==*/
.commnet { padding-right: 10px; width: auto; }
.comment-list-iframe, .comment-form-iframe { width: 100% }

/* =body.tagApp== */
.tagApp .body-wrap { padding-top: 0px; }
.tag-wrap  h1 { font: bold 34px/40px "microsoft yahei", Arial; color: #333; margin: 15px 0; }
.tag-wrap  blockquote { text-indent: 2em; background-color: #EEE; color: #666; padding: 10px; margin: 0px 10px 5px 0px; font-size: 16px; line-height: 32px; }
.tag-wrap  blockquote h2 { margin: 0px; font-size: 18px; font-weight: bold; }
.tag-wrap  blockquote p { margin: 0px; }

/* ==footer== */
.footer { background-color: #333; color: #FFF; }
.footer .footer-wrap { min-height: 90px; margin: 0 auto; text-align: center; padding-top: 10px; font-size: 12px; }
.footer-wrap p { margin: 5px auto; }
.footer-wrap p a { color: #FFF; font-weight: bold; }

/* ==baidu.share== */
.share { float: right; margin-top: 10px; }
.share-icon { float: right; }
.share-icon .t { float: left; margin: 3px 3px 0 0; }
.share-icon .bdsharebuttonbox { float: left; width: 195px; padding-bottom: 0 !important; }
#share-bd a { display: inline-block; width: 28px !important; padding-left: 0 !important; height: 28px !important; background: url(../img/share.png) no-repeat !important; margin: 0 4px 0 0 !important; }
#share-bd .bds_tsina { background-position: 0 0 !important; }
#share-bd .bds_qzone { background-position: -28px 0 !important; }
#share-bd .bds_tqq { background-position: -56px 0 !important; }
#share-bd .bds_weixin { background-position: -84px 0 !important; }
#share-bd .bds_renren { background-position: -112px 0 !important; }
#share-bd .bds_more { background: url(../img/share.png) no-repeat -140px 0 !important; width: 28px !important; height: 28px !important; padding: 0 !important; }
.share-moreinfo .moreinfo { float: right; padding: 3px 3px 0 0; }
.share-moreinfo .moreinfo a { margin-left: 14px; }


.iCMS_icon { width: 16px; height: 16px; background-image: url(../img/sprites-1.9.1.png); background-repeat: no-repeat; display: inline-block; vertical-align: middle }

/* dialog */
/*.iCMS_UI_DIALOG-backdrop{opacity: 0.3 !important;}*/
.iCMS_UI_DIALOG {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    /*border: 1px solid #888;*/
    border: 0px;
    -webkit-box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 80px 0 rgba(0, 0, 0, 0.4);
    background: #fff;
    z-index: 99999 !important;
}
.iCMS_UI_DIALOG .ui-dialog {
    opacity: 1;
    border: 0px;
    box-shadow: none;
    background-color: inherit;
}
.iCMS_UI_DIALOG .ui-dialog-header {
    background-color: #333;
    background-image: -moz-linear-gradient(top, #3c3c3c, #0a0a0a);
    background-image: -ms-linear-gradient(top, #3c3c3c, #0a0a0a);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3c3c3c), to(#0a0a0a));
    background-image: -webkit-linear-gradient(top, #3c3c3c, #0a0a0a);
    background-image: linear-gradient(to top, #3c3c3c, #0a0a0a);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c3c3c', endColorstr='#0a0a0a', GradientType=0);
    position: relative;
    padding: 0px;
    cursor: move;
    border-radius: 6px 6px 0 0;
    /*border: 1px solid #0D6EB8;*/
    border: 0px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    margin: -1px -1px 0;
    line-height: 14px;
}

.iCMS_UI_DIALOG .ui-dialog-header .ui-dialog-title {
    font-family: museo-slab,Georgia,"Times New Roman",Times,serif;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
    font-size: 15px;
    font-weight: 700;
    padding: 8px 15px;
    cursor: move;
}
.iCMS_UI_DIALOG .ui-dialog-header .ui-dialog-close {
    top: 0px;
    right: 0px;
    padding: 6px 12px;
color: #999;
    opacity: .4;
    font-weight: normal;
}
.iCMS_UI_DIALOG .ui-dialog-body {
    padding: 0px;
}
.iCMS_UI_DIALOG .ui-dialog-table { height: 100%; width: 100%; vertical-align: middle; }
/*.iCMS_UI_DIALOG .ui-dialog-content {height: auto !important; color: #222; padding: 10px; max-width: 760px; max-height: 500px; min-width: 240px; min-height: 120px; overflow-y: scroll; }*/
.iCMS_UI_DIALOG .ui-dialog-content {
    height: auto;
    color: #222;
    padding: 20px;
    display: block;
    max-width: 760px;
    min-width: 240px;
    /*border: 1px solid #888;*/
    text-align: center;
}
.iCMS_UI_DIALOG .ui-dialog-content .buttons {
    text-align: right;
    background: #fff
}
.iCMS_UI_DIALOG .ui-dialog-content .buttons a.cancel { color: #259; margin-right: 15px; cursor: pointer; }
.iCMS_UI_DIALOG .ui-dialog-content .buttons a.cancel:hover { text-decoration: underline; }
.iCMS_UI_DIALOG .ui-dialog-footer { padding-bottom: 15px; }

.iCMS_dialog_alert .ui-dialog-content{text-align: center;}

.iCMS_UI_DIALOG {+max-width: 620px;}
.iCMS_UI_DIALOG .ui-dialog-header {+height: 40px;}
.iCMS_UI_DIALOG .ui-dialog-header .ui-dialog-title { +margin-top: 4px;}
.iCMS_UI_DIALOG .ui-dialog-header .ui-dialog-close { +padding-top: 4px;}

.iPHP-msg { text-align: center; margin: 0px 5px; padding: 0px 4px; }
.iPHP-msg .label { white-space: pre-wrap; padding: 8px 10px; font-size: 14px; letter-spacing: 1px; line-height: 160%; }
.iPHP-msg pre { text-align: left; }
.iPHP-msg i { font-size: 18px; }
.iPHP-msg .label-success hr { margin: 10px 0; border-top: 1px solid #007202; border-bottom: 1px solid #6A946B; }

/*popover*/
.popover{position:absolute;top:0;left:0;z-index:1010;display:none;max-width:400px;padding:1px;text-align:left;white-space:normal;background-color:#fff;border:1px solid #ccc;border:1px solid rgba(0,0,0,0.2);-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);box-shadow:0 5px 10px rgba(0,0,0,0.2);-webkit-background-clip:padding-box;-moz-background-clip:padding;background-clip:padding-box}
.popover.top{margin-top:-10px}
.popover.right{margin-left:10px}
.popover.bottom{margin-top:10px}
.popover.left{margin-left:-10px}
.popover-title{padding:8px 14px;margin:0;font-size:14px;font-weight:normal;line-height:18px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0}
.popover-title:empty{display:none}
.popover-content{padding:9px 14px}
.popover .arrow,.popover .arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}
.popover .arrow{border-width:11px}
.popover .arrow:after{border-width:10px;content:""}
.popover.top .arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,0.25);border-bottom-width:0}
.popover.top .arrow:after{bottom:1px;margin-left:-10px;border-top-color:#fff;border-bottom-width:0}
.popover.right .arrow{top:50%;left:-11px;margin-top:-11px;border-right-color:#999;border-right-color:rgba(0,0,0,0.25);border-left-width:0}
.popover.right .arrow:after{bottom:-10px;left:1px;border-right-color:#fff;border-left-width:0}
.popover.bottom .arrow{top:-11px;left:50%;margin-left:-11px;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,0.25);border-top-width:0}
.popover.bottom .arrow:after{top:1px;margin-left:-10px;border-bottom-color:#fff;border-top-width:0}
.popover.left .arrow{top:50%;right:-11px;margin-top:-11px;border-left-color:#999;border-left-color:rgba(0,0,0,0.25);border-right-width:0}
.popover.left .arrow:after{right:1px;bottom:-10px;border-left-color:#fff;border-right-width:0}

/* iCMS.TOOLTIP for poshytip*/
.iCMS_UI_TOOLTIP { z-index: 1000; position: absolute; z-index: 1050; display: block; padding: 0px;width: 368px; }
.iCMS_UI_TOOLTIP .tip-arrow { display: none; }
/*.iCMS_UI_TOOLTIP.popover { max-width: none; }
*/
.iCMS_UI_TOOLTIP.popover .popover-content { padding: 4px !important; }
.iCMS_UI_TOOLTIP.popover .popover-content p,
.iCMS_UI_TOOLTIP.popover .popover-content ul,
.iCMS_UI_TOOLTIP.popover .popover-content ol { margin-bottom: 0 }
/*ucard*/
.iCMS_USER_CARD { width: 360px }
.iCMS_USER_CARD .upper, .iCMS_USER_CARD .lower { border: 14px solid transparent }
.iCMS_USER_CARD .upper { background: #fff; padding-left: 66px; min-height: 50px }
.iCMS_USER_CARD .upper a.avatar-link { position: relative }
.iCMS_USER_CARD .upper img.avatar { position: absolute; max-width: none; width: 50px; height: 50px; left: -66px; border-radius: 3px }
.iCMS_USER_CARD .upper .male { background-position: -145px -111px; width: 12px; height: 12px; vertical-align: -1px; margin-left: 3px }
.iCMS_USER_CARD .upper .female { background-position: -130px -110px; width: 10px; height: 14px; vertical-align: -1px; margin-left: 3px }
.iCMS_USER_CARD .upper span.name { font-size: 14px; font-weight: 700 }
.iCMS_USER_CARD .upper div.slogan { font-size: 13px; color: #222; padding-top: 4px; }
.iCMS_USER_CARD .upper .personal { padding-top: 8px }
.iCMS_USER_CARD .upper .personal .zg-icon { vertical-align: -1px }
.iCMS_USER_CARD .upper .personal .zg-icon.employment { background-position: -94px -111px; width: 12px; height: 11px; margin-right: 6px; margin-left: 2px }
.iCMS_USER_CARD .upper .personal .zg-icon.education { width: 16px; height: 12px; margin-right: 4px; background-position: -111px -112px }
.iCMS_USER_CARD .upper .personal .info-wrap { color: #999 }
.iCMS_USER_CARD .upper .personal .info-wrap .item+.item { border-left: 1px solid #EEE; padding-left: 10px; margin-left: 10px }
.iCMS_USER_CARD .upper .secondary {padding-top: 8px; color: #999; border-top: 1px solid #EEE; margin-top: 8px }
.iCMS_USER_CARD .upper .secondary div span { display: inline-block }
.iCMS_USER_CARD .upper .secondary a, .iCMS_USER_CARD .upper .secondary a:visited { color: #222 }
.iCMS_USER_CARD .upper .other span { color: #999 }
.iCMS_USER_CARD .upper .hr { border-top: 1px solid #eee; width: 225px; padding-top: 6px; margin-top: 6px }
.iCMS_USER_CARD .lower { background: #fafafa }
.iCMS_USER_CARD .lower .operation .self { line-height: 48px; float: right; color: #999 }
.iCMS_USER_CARD .lower .operation .zg-btn, .iCMS_USER_CARD .lower .operation .zg-btn-white, .iCMS_USER_CARD .lower .operation button { float: right; margin-top: 8px; vertical-align: middle }
.iCMS_USER_CARD .lower .operation .zg-btn { margin-left: 15px; font-size: 13px }
.iCMS_USER_CARD .lower .operation .zg-icon.pm { background-position: 0 -148px; width: 17px; height: 14px; text-indent: -999em }
.iCMS_USER_CARD .lower .meta .item { float: left; padding: 0 16px; border-right: 1px solid #eee; color: inherit; text-decoration: none }
.iCMS_USER_CARD .lower .meta .item:hover { color: #698ebf }
.iCMS_USER_CARD .lower .meta .item:hover .key { color: inherit }
.iCMS_USER_CARD .lower .meta .item .value, .iCMS_USER_CARD .lower .meta .item .key { display: block; text-align: center }
.iCMS_USER_CARD .lower .meta .item .value { font-size: 15px; font-weight: 700 }
.iCMS_USER_CARD .lower .meta .item .key { font-size: 14px; color: #999 }
.iCMS_USER_CARD .lower .meta .item:first-child { padding-left: 0 }
.iCMS_USER_CARD .lower .meta .item:last-child { border-right: 0 none }

/* pm */
.iCMS_PM_DIALOG { width: 340px; }
.iCMS_PM_DIALOG dl {margin-bottom: 5px;}
.iCMS_PM_DIALOG dt { text-align: right; float: left; }
.iCMS_PM_DIALOG dt label { color: #999; font-size: 13px; }
.iCMS_PM_DIALOG .pm_uname { float: left; }
.iCMS_PM_DIALOG .pm_inbox { float: right; color: #259;}
.iCMS_PM_DIALOG .pm_content { width: 300px; padding: 5px; height: 90px; }
.iCMS_PM_DIALOG .pm_warnmsg { text-align: right; color: #C3412F; display: none; font-size: 13px; }
.iCMS_PM_DIALOG .buttons { padding-right: 3px !important; }

/* report */
.iCMS_REPORT_DIALOG { width: 360px;text-align: left;}
.iCMS_REPORT_DIALOG.loading .modal-dialog-buttons { display: none }
.iCMS_REPORT_DIALOG .options { margin-top: 8px }
.iCMS_REPORT_DIALOG .options li { padding: 2px 6px; list-style: none; line-height: 2 }
.iCMS_REPORT_DIALOG .options li li { padding: 0 6px; display: inline-block; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 50% }
.iCMS_REPORT_DIALOG .options label { cursor: pointer; margin: 2px 0px ;    font-weight: normal;}
.iCMS_REPORT_DIALOG .options input[type=radio] { margin: 0px 5px 2px 0px }
.iCMS_REPORT_DIALOG .options .description, .iCMS_REPORT_DIALOG .options .group-description { padding-left: 1em; line-height: 1.7; color: #999 }
.iCMS_REPORT_DIALOG .options .group-options { margin-left: 10px }
.iCMS_REPORT_DIALOG .options .visible-if-checked { display: none }
.iCMS_REPORT_DIALOG .options li.checked { background-color: #eff6fa; border-radius: 3px }
.iCMS_REPORT_DIALOG .options li.checked .visible-if-checked { display: block }
.iCMS_REPORT_DIALOG .reason-text { width: 100%; height: 30px; margin: 10px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box }
.iCMS_REPORT_DIALOG .error-container { color: #fa8282; text-align: right }
.iCMS_REPORT_DIALOG .input-container { position: relative }
.iCMS_REPORT_DIALOG .headnote { float: right; color: #999 }
.iCMS_REPORT_DIALOG .footnote { color: #999 }
.iCMS_REPORT_DIALOG .loading { text-align: center; color: #999 }
