@font-face{font-family:'iFormer';src:url('img/iFormer.eot');src:url('img/iFormer.eot?#iefix') format('embedded-opentype'),url('img/iFormer.ttf') format('truetype'),url('img/iFormer.woff') format('woff'),url('img/iFormer.svg') format('svg');font-weight:normal;font-style:normal;}
.fb-icon{font-family:'iFormer'!important;speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:24px;}
.fb-icon-multiselect:before{content:"\e913";}
.fb-icon-autonumber:before{content:"\e900";}
.fb-icon-number:before{content:"\e904";}
.fb-icon-addnotes:before{content:"\e907";}
.fb-icon-currency2:before{content:"\e909";}
.fb-icon-datetime:before{content:"\e90c";}
.fb-icon-decimal:before{content:"\e915";}
.fb-icon-dropdown:before{content:"\e916";}
.fb-icon-percentage:before{content:"\e91a";}
.fb-icon-signature:before{content:"\e91c";}
.fb-icon-subform:before{content:"\e91d";}
.fb-icon-crm:before{content:"\e920";}
.fb-icon-phonenumber:before{content:"\e921";}
.fb-icon-address:before{content:"\e901";}
.fb-icon-admin:before{content:"\e902";}
.fb-icon-audio:before{content:"\e903";}
.fb-icon-checkbox:before{content:"\e905";}
.fb-icon-currency:before{content:"\e906";}
.fb-icon-date:before{content:"\e908";}
.fb-icon-decisionbox:before{content:"\e90a";}
.fb-icon-deciton:before{content:"\e90b";}
.fb-icon-fileupload:before{content:"\e90d";}
.fb-icon-formula:before{content:"\e90e";}
.fb-icon-image:before{content:"\e90f";}
.fb-icon-lookup:before{content:"\e910";}
.fb-icon-mail:before{content:"\e911";}
.fb-icon-textarea:before{content:"\e912";}
.fb-icon-name:before{content:"\e914";}
.fb-icon-radio:before{content:"\e917";}
.fb-icon-richtext:before{content:"\e918";}
.fb-icon-section:before{content:"\e919";}
.fb-icon-input:before{content:"\e91b";}
.fb-icon-url:before{content:"\e91e";}
/*.widget-content .tab-content{padding:0px;}*/
.fields-container .fa{speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:20px;}
.fields-container .br{line-height:14px!important;}
.ui-draggable{float:left;padding:5px 5px 5px 8px;font-size:.917em;font-family:"Lucida Grande",Arial,Helvetica,sans-serif;color:#2f3439;text-shadow:1px 1px 0 #FFF;cursor:move;line-height:21px;min-height:24px;width:120px;height:35px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;border-bottom:1px solid #ececec;background:#fff;}
.ui-draggable p{min-width:68px;display:inline-block;padding-left:7px;font-family:lato;font-size:12px;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;max-width:80px;}

/*.ui-state-highlight{border:1px dotted black;display: block;width: 100%;}*/
.ui-state-highlight{background-color:#fcf8e3;border:1px solid #fbeed5;display:inline-block;float:left;width:360px;height:30px;}
.fields-container{margin-top:10px;position:absolute;top:150px;left:240px;width:400px;height:280px;border:1px solid #ddd;box-shadow:0 2px 12px rgba(0,0,0,0.26);background-color:white;border-radius:5px;padding:0px;}
.iFormer-ui{display:inline-block;float:left;}
.iFormer-ui .action{display:inline-block;margin-left:5px;vertical-align:middle;}
.iFormer-ui .action a{font-size:16px;margin-right:5px;color:#999;}
#custom_field_list{margin:10px;padding-bottom:60px;}
#custom_field_list .row-fluid{height:35px;}
#custom_field_list .row-fluid div{background-color:#efefef;}
#custom_field_list .clearfloat{visibility:hidden;height:0px;border-left:0px;border-right:0px;}
#custom_field_list .pagebreak{cursor:move;background-position:30% center;background-image:url(../.../../../../admincp/ui/ueditor/themes/pagebreak.gif);background-repeat:no-repeat;clear:both;display:block;width:99%;border-top:#999999 1px dotted;border-bottom:#999999 1px dotted;border-right:0px;margin:5px;border-left:0px;padding:0px;height:5px;_height:2px;-webkit-user-select:none;}
#custom_field_list .pagebreak .action{margin-top:5px;}
