<script src="http://apps.bdimg.com/libs/require.js/2.1.11/require.min.js"></script>
<script>
window.iCMS = {}
    CONFIG: {
        API: "<!--{iCMS:router url='/api'}-->",
        PUBLIC: "<!--{$site.urls.public}-->",
        COOKIE: '<!--{$iCMS.COOKIE_PRE}-->',
        DIALOG: {
            title: '<!--{$site.name}--> 提示信息'
        },
    }
};
require.config({
    baseUrl: iCMS.CONFIG.PUBLIC + '/js',
    paths: {
        jquery: [
            '//apps.bdimg.com/libs/jquery/1.11.3/jquery.min', //http://cdn.code.baidu.com/
            'libs/jquery-1.11.3.min'
        ],
        artdialog: 'libs/artDialog-6.0.4/dialog-plus-min',
        icms: 'iCMS-6.1.0',
        dialog: 'iCMS.DIALOG-6.1.0',
        passport: 'iCMS.PASSPORT-6.1.0',
        user: 'iCMS.USER-6.1.0',
        comment: 'comment-6.1.0',
        poshytip: 'jquery.poshytip.min',
        // insertContent:'jquery.insertContent.min',
        // css:'style.css',
    },
    shim: {
        // 'poshytip': ['jquery'],
        // 'insertContent': ['jquery'],
        // 'jquery.scroll': {
        //     deps: ['jquery'],
        //     exports: 'jQuery.fn.scroll'
        // },
        'poshytip': {
            deps: ['jquery'],
            exports: 'jQuery.fn.poshytip'
        },
        'artdialog': {
            deps: ['jquery'],
            exports: 'window.dialog'
        }
    }
});
require(['jquery', 'icms'], function($, icms) {
    icms.init(window.iCMS.CONFIG);
    window.iCMS = $.extend(window.iCMS, icms);
    /**
     * [seccode 验证码刷新]
     * @param  {[type]} a [验证码]
     * @param  {[type]} b [容器]
     */
    iCMS.seccode = function(a, b) {
        $(a, b).attr('src', iCMS.API('public', '&do=seccode&') + Math.random());
    };
});

iCMS.run = function(a, b) {
    return require(a, b);
};
</script>
