<div class="top clearfix">
    <div class="top-wrap">
        <div class="sitename fl">
            <!--{$site.name}-->
        </div>
        <div id="user-login" class="fr">
            <ul>
                <!--{if $iCMS.CONFIG.open.QQ.enable }-->
                <li><a href="<!--{iCMS:router url='/api/user/login/qq'}-->" class="login_qq">QQ登录</a></li>
                <!--{/if}-->
                <!--{if $iCMS.CONFIG.open.WB.enable }-->
                <li><a href="<!--{iCMS:router url='/api/user/login/wb'}-->" class="login_wb">微博登录</a></li>
                <!--{/if}-->
                <!--{if $iCMS.CONFIG.open.WX.enable }-->
                <li><a href="<!--{iCMS:router url='/api/user/login/wx'}-->" class="login_wx">微信登录</a></li>
                <!--{/if}-->
                <li><a id="user-login-btn" href="<!--{iCMS:router url='/api/user/login'}-->" title="登录">登录</a></li>
                <li class="last"><a href="<!--{iCMS:router url='/api/user/register'}-->" target="_blank">注册</a></li>
            </ul>
        </div>
        <div id="user-profile" class="fr hide">
            <ul>
                <li><a href="<!--{iCMS:router url='/user/publish'}-->" target="_blank"><i class="fa fa-edit"></i> 发表文章</a></li>
                <li class="last">
                    <a class="logout" href="<!--{iCMS:router url='/api/user/logout'}-->"><i class="fa fa-edit"></i> 退出</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<script>
iCMS.RUN = function(a, b) {
    require(a, b);
};
$(function() {
    //由于require是异步加载 所以要延迟执行
    iCMS.RUN(['user'], function($user) {
        $user.STATUS({},
            //登陆后事件
            function($info) {
                console.log($info);
                $("#user-login").hide();
                $("#user-profile").show();
            },
            //未登陆事件
            function(f) {
                console.log(f)
            }
        );
        $(".logout").click(function(event) {
            event.preventDefault();
            iCMS.USER.LOGOUT({
                    'forward': window.top.location.href
                },
                function(s) {
                    window.top.location.reload();
                });
        });
    });
});
</script>
<div class="header clearfix">
    <div class="header-wrap">
        <div class="logo">
            <a target="_self" title="<!--{$site.url}-->" href="<!--{$site.url}-->"></a>
        </div>
        <div class="search">
            <form id="search-form" action="<!--{iCMS:router url='/api'}-->" method="get" target="_blank">
                <div class="search-wrap">
                    <input name="app" type="hidden" value="search" />
                    <input type="text" class="search-query" name="q" placeholder="请输入关键词" value="<!--{$search.title}-->">
                    <button type="submit" class="search-btn"><i class="fa fa-search"></i> 搜索</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="navbar clearfix">
    <ul class="navbar-wrap">
        <li id="navbar_c0" class="active"><a target="_self" href="<!--{$site.url}-->"><strong>首页</strong></a></li>
        <!--{iCMS:category:list loop="true" stype='top' row="13"}-->
        <!--{if $category_list.child}-->
        <li id="navbar_c<!--{$category_list.cid}-->" class="dropdown"><a href="<!--{$category_list.url}-->" target="_blank"><strong><!--{$category_list.name}--></strong></a>
            <ul class="dropdown-menu">
                <!--{iCMS:category:list as="subcate" loop="true" stype='sub' row="10" cid="$category_list.cid"}-->
                <li><a href="<!--{$subcate.url}-->"><strong><!--{$subcate.name}--></strong></a></li>
                <!--{/iCMS}-->
            </ul>
        </li>
        <!--{else}-->
        <li id="navbar_c<!--{$category_list.cid}-->"><a href="<!--{$category_list.url}-->" target="_blank"><strong><!--{$category_list.name}--></strong></a></li>
        <!--{/if}-->
        <!--{/iCMS}-->
    </ul>
    <script type="text/javascript">
    $("#navbar_c0").removeClass("active");
    <!--{if $category.rootid}-->
    $("#navbar_c<!--{$category.rootid}-->").addClass("active");
    <!--{elseif $category.cid}-->
    $("#navbar_c<!--{$category.cid}-->").addClass("active");
    <!--{else}-->
    $("#navbar_c0").addClass("active");
    <!--{/if}-->
    </script>
</div>
