<!--{include file="/iCMS/public.ui.htm"}-->
<meta name="applicable-device" content="pc">
<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript" src="<!--{$site.urls.tpl}-->/static/js/lazyload.min.js"></script>
<script type="text/javascript" src="<!--{$site.urls.tpl}-->/static/js/ui.plugin.min.js"></script>
<script type="text/javascript" src="<!--{$site.urls.tpl}-->/static/ui.min.js"></script>
<link rel="stylesheet" href="<!--{$site.urls.tpl}-->/static/ui.min.css" type="text/css" />
