<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title><!--{if $user}-->绑定已有用户<!--{else}-->用户登录<!--{/if}--> <!--{$site.title}-->_<!--{$site.seotitle}--></title>
    <meta name="keywords" content="<!--{$site.keywords}-->" />
    <meta name="description" content="<!--{$site.description}-->"/>
    <meta name="mobile-agent" content="format=html5;url=<!--{$site.url}-->"/>
    <!--{iCMS:public:ui}-->
    <link rel="stylesheet" href="<!--{$site.urls.tpl}-->/user/ui/passport.css" type="text/css" />
    <script>
    $(function(){
    <!--{if $user}-->
    iCMS.user.OPENID = <!--{$user|json_encode}-->;
    <!--{/if}-->
    iCMS.user.login("#login-box",function(b){
    iCMS.tip(b, '<i class="fa fa-check-circle" style="color: #33B800;"></i>');
    });
    })
    </script>
  </head>
  <body class="passport">
    <div class="login-wrap">
      <div class="logo"> <a href="<!--{$site.url}-->" title="<!--{$site.title}-->">
      <span><!--{$site.title}--></span></a>
    </div>
    <div class="passport-wrap">
      <div class="passport-main">
        <h1>
        <!--{if $user}-->
        绑定已有用户
        <!--{else}-->
        用户登录
        <!--{/if}-->
        </h1>
        <div id="login-box" class="passport-form">
          <div class="pp-name">
            <span>用户名：</span>
            <input type="text" placeholder="邮箱 或 昵称" name="uname" class="form-control">
          </div>
          <div class="err_uname">
            <span><i class="fa fa-minus-circle"></i> 请输入登录名</span>
          </div>
          <div class="clearfix"></div>
          <div class="pp-pass">
            <span>密码：</span><input type="password" value="" name="pass" class="form-control">
          </div>
          <div class="err_pass">
            <span><i class="fa fa-minus-circle"></i> 请输入密码</span>
          </div>
          <div class="clearfix"></div>
          <!--{if $iCMS.CONFIG.user.login.seccode }-->
          <div class="pp-check">
            <span>验证码：</span>
            <input type="text" maxlength="4" name="seccode" class="seccode form-control" data-placement="bottom">
            <img src="<!--{iCMS:router url='/api/public/seccode'}-->" alt="验证码" class="seccode-img r3"/>
            <a href="javascript:;" class="seccode-text" style="float: none">换一张</a>
          </div>
          <div class="err_seccode">
            <span><i class="fa fa-minus-circle"></i> 请输入验证码</span>
          </div>
          <!--{/if}-->
          <div class="clearfix"></div>
          <div class="pp-remember">
            <label><input type="checkbox" value="1" name="remember" class="check" checked="checked">
            <span>记住我（两周免登录）</span></label>
            <div class="clearfix">
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="pp-login">
            <button class="submit btn btn-success">登录</button>
            <a href="<!--{$iCMS.SAPI}-->&do=findpwd">忘记密码？</a>
          </div>
          <div class="ot_login">
            <span>您也可以用以下方式登录：</span>
            <div class="ot_btn">
              <!--{if $iCMS.CONFIG.open.QQ.enable }-->
              <a href="<!--{iCMS:router url='/api/user/login/qq'}-->" class="login_qq"></a>
              <!--{/if}-->
              <!--{if $iCMS.CONFIG.open.WB.enable }-->
              <a href="<!--{iCMS:router url='/api/user/login/wb'}-->" class="login_wb"></a>
              <!--{/if}-->
              <!--{if $iCMS.CONFIG.open.WX.enable }-->
              <a href="<!--{iCMS:router url='/api/user/login/wx'}-->" class="login_wx"></a>
              <!--{/if}-->
            </div>
          </div>
        </div>
      </div>
      <div class="passport-right">
        <div class="right-wrap">
          <h2>注 册</h2>
          <span style="margin-left:40px;">还没有账号？</span>
          <a class="btn btn-primary" href="<!--{iCMS:router url='/api/user/register'}-->">快速注册</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!--{include file="{iTPL}/footer.htm"}-->
</body>
</html>
