<!DOCTYPE html>
<html>

<head>
    <title>
        <!--{if $user}-->绑定已有用户
        <!--{else}-->用户登录
        <!--{/if}-->
        <!--{$site.title}-->
    </title>
    <meta name="keywords" content="<!--{$site.keywords}-->" />
    <meta name="description" content="<!--{$site.description}-->" />
    <meta name="mobile-agent" content="format=html5;url=<!--{$site.url}-->" />
    <!--{iCMS:public:ui}-->
    <link rel="stylesheet" href="<!--{$site.urls.tpl}-->/static/css/passport.css" type="text/css" />
    <script>
    $(function() {
        $(".seccode-img,.seccode-text").click(function(event) {
            iCMS.seccode(".seccode-img","#login-box");
        });
        $("#login_submit").click(function(event) {
            event.preventDefault();

            $(".tip_error").hide();

            var param = {
                uname:$("#uname","#login-box").val(),
                pass:$("#pass","#login-box").val(),
                seccode:$("#seccode","#login-box").val(),
                remember:$('input[name="remember"]', "#login-box").val()
            }
            <!--{if $user}-->
            //绑定账号
            param.OPENID = <!--{$user|json_encode}-->;
            <!--{/if}-->

            <!--{if $iCMS.CONFIG.user.login.seccode }-->
            //检查验证码
            param.login_seccode = true;
            <!--{/if}-->

            //登录接口 js
            iCMS.PASSPORT.LOGIN(
                //提交参数
                param,
                //登录成功 事件
                function(ret) {
                    window.top.location.href = ret.forward;
                },
                //登录失败 事件
                function(ret) {
                    iCMS.seccode(".seccode-img","#login-box");
                    var tip = $('.tip_'+ret[0]);
                    tip.text(ret[1]).show();
                    // console.log(ret);
                }
            );
        });
    })
    </script>
</head>

<body class="userApp passport">
    <div class="login-wrap">
        <div class="logo">
            <a href="<!--{$site.url}-->" title="<!--{$site.title}-->">
                <span><!--{$site.title}--></span></a>
        </div>
        <div class="passport-wrap">
            <div class="passport-main">
                <h1>
        <!--{if $user}-->
        绑定已有用户
        <!--{else}-->
        用户登录
        <!--{/if}-->
        </h1>
                <div id="login-box" class="passport-form form-horizontal">
                    <div class="form-group">
                        <label for="uname" class="control-label">用户名：</label>
                        <input type="text" name="uname" class="form-control" id="uname" placeholder="邮箱 或 昵称">
                        <p class="help-block tip_error tip_uname">请输入登录名</p>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="control-label">密码：</label>
                        <input type="password" name="pass" class="form-control" id="pass" placeholder="请输入密码">
                        <p class="help-block tip_error tip_pass">请输入密码</p>
                    </div>
                    <!--{if $iCMS.CONFIG.user.login.seccode }-->
                    <div class="form-group">
                        <label for="seccode" class="control-label">验证码：</label>
                        <input type="text" maxlength="4" name="seccode" class="seccode form-control" id="seccode" placeholder="请输入验证码">
                        <img src="<!--{iCMS:router url='/api/public/seccode'}-->" alt="验证码" class="seccode-img r3" />
                        <a href="javascript:;" class="seccode-text" style="float: none">换一张</a>
                        <p class="help-block tip_error tip_seccode">请输入验证码</p>
                    </div>
                    <!--{/if}-->
                    <div class="form-group opt">
                        <label for="remember">
                            <input type="checkbox" value="1" name="remember" class="check" checked="checked"> 记住我（两周免登录）
                        </label>
                        <a class="findpwd" href="<!--{$iCMS.SAPI}-->&do=findpwd">忘记密码？</a>
                    </div>
                    <div class="form-group submit">
                        <a href="javascript:;" id="login_submit" class="btn btn-success btn-lg">登 录</a>
                    </div>
                    <div class="platform">
                        <span>您也可以用以下方式登录：</span>
                        <div class="platform-btn">
                            <!--{if $iCMS.CONFIG.open.QQ.enable }-->
                            <a href="<!--{iCMS:router url='/api/user/login/qq'}-->" class="login_qq"></a>
                            <!--{/if}-->
                            <!--{if $iCMS.CONFIG.open.WB.enable }-->
                            <a href="<!--{iCMS:router url='/api/user/login/wb'}-->" class="login_wb"></a>
                            <!--{/if}-->
                            <!--{if $iCMS.CONFIG.open.WX.enable }-->
                            <a href="<!--{iCMS:router url='/api/user/login/wx'}-->" class="login_wx"></a>
                            <!--{/if}-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="passport-right">
                <div class="right-wrap">
                    <h2>注 册</h2>
                    <p>还没有账号？</p>
                    <a class="btn btn-primary" href="<!--{iCMS:router url='/api/user/register'}-->">快速注册</a>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!--{include file="{iTPL}/footer.htm"}-->
</body>

</html>
