<!DOCTYPE html>
<html>
  <head>
    <title>Warning! 系统已经关闭注册功能!</title>
    <!--{iCMS:public:ui}-->
    <link rel="stylesheet" href="<!--{$site.urls.tpl}-->/user/ui/passport.css" type="text/css" />
  </head>
  <body class="passport">
    <div class="register-wrap">
      <div class="logo"> <a href="<!--{$site.url}-->" title="<!--{$site.title}-->"><span><!--{$site.title}--></span></a>
    </div>
    <div class="passport-wrap pl20 pr20 pt40">
      <div class="clearfix mt10"></div>
      <div class="alert alert-warning" role="alert">
        <strong>Warning!</strong> 系统已经关闭注册功能.
      </div>
      <div class="clearfix mt10"></div>
    </div>
    <!--{include file="{iTPL}/footer.htm"}-->
  </body>
</html>
